@import url('./__editform/popup__editform.css');

@import url('./__text/popup__text.css');

@import url('./__close/popup__close.css');

@import url('./__inputtext/popup__inputtext.css');

@import url('./__submit/popup__submit.css');

@import url('./_disnone/popup_disnone.css');

.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
}
