.popup__inputtext_avatarerror{
	width: calc(100% - 72px);
	height: 14px;
	margin: -1px auto 0px auto;
	padding: 5px 0px 0px 0px;
	font-family: 'Inter','Arial', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: red;
	border-top: 1px solid red;
	visibility: hidden;
}