.popupadd__text {
	font-family: 'Inter','Arial', sans-serif;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	margin: 34px auto 0px auto;
	width: calc(100% - 72px);
	
}

@media ( max-width: 550px) {
	.popupadd__text {
		width: calc(100% - 40px);
		margin: 30px auto 0px auto;
		font-size: 18px;
		line-height: 22px;
	}
}