.element__img {
	object-position: center;
	object-fit: cover;
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 282px;
	transition: transform 0.25s linear 0s;
	
}

.element__img:hover{
	transform: scale(1.1, 1.1);
}