@import url('./__avatar/profile__avatar.css');

@import url('./__info/profile__info.css');

@import url('./__name/profile__name.css');

@import url('./__job/profile__job.css');

@import url('./__str/profile__str.css');

@import url('./__edit/profile__edit.css');

@import url('./__AddButton/profile__AddButton.css');

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px 0px;
}