@import url('./profile__avatar/profile__avatar.css');

@import url('./profile__info/profile__info.css');

@import url('./profile__name/profile__name.css');

@import url('./profile__job/profile__job.css');

@import url('./profile__1str/profile__1str.css');

@import url('./profile__edit/profile__edit.css');

@import url('../AddButton/AddButton.css');

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px 0px;
}