@import url('./__avatar/profile__avatar.css');

@import url('./__info/profile__info.css');

@import url('./__name/profile__name.css');

@import url('./__job/profile__job.css');

@import url('./__str/profile__str.css');

@import url('./__edit/profile__edit.css');

@import url('./__addbutton/profile__addbutton.css');

.profile {
    display: flex;
    flex-direction: row;
	align-items: center;
    flex-wrap: wrap;
	width: 100%;
	margin: 40px auto 0px auto;
}

@media (max-width: 900px) {
    .profile {
		width: calc(100% - 38px);
	}
}

@media (max-width: 500px) {
    .profile {
		margin-top: 42px;
	}
}