.popup__button-sure{
	font-family: 'Inter','Arial', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	width: 356px;
	height: 48px;
	margin: 38px auto 0px auto;
	padding: 0px;
	border: 1px solid black;
	border-radius: 2px;
	color: white;
	background-color: black;
	transition: opacity 0.3s linear 0s;
}

.popup__button-sure:hover {
	opacity: 0.8;
	cursor: pointer;
}

@media ( max-width: 550px) {
	.popup__button-sure {
		width: 238px;
		height: 48px;
		font-size: 14px;
		line-height: 17px;
	}
}