@import url('./__editform/popupprofile__editform.css');

@import url('./__text/popupprofile__text.css');

@import url('./__inputtext/popupprofile__inputtext.css');

@import url('./__submit/popupprofile__submit.css');

@import url('./__errormes/popupprofile__errormes.css');



.popupprofile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s linear;
}
