.profile__job {
    color: white;
    font-size: 18px;
    line-height: 22px;
    margin: 0px;
    font-family: 'inter','Arial', sans-serif;
	font-weight: normal;
	max-width: 450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}