@import url('./__big/popupimg__big.css');

@import url('./__img/popupimg__img.css');

@import url('./__p/popupimg__p.css');

.popupimg{
	
	background-color: rgba(0, 0, 0, 0.75);
	padding: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
