.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 40px;
    background-image: url(../../../images/logoHeader.svg);
    background-size: cover;
}

@media (max-width: 900px) {
    .header__logo {
		margin-left: 27px;
	}
}