.poup__editform_avatar{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 272px;
    position: relative;
    top: calc(50% - 165px);
    margin: auto auto auto auto;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 550px){
	.poup__editform_avatar{
		width: 282px;
		height: 322px;
		top: 123px;
	}
}