.profile__str {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
	margin: 0px;
}

@media (max-width: 400px) {
    .profile__str {

		margin-right: 0px auto;
		justify-content: space-between;
	}
}