.popup__inputwork {
	width: calc(100% - 72px);
	height: 25px;
	margin: 30px auto 0px auto;
	border-width: 0px 0px 2px 0px;
	border-color: rgba(00, 00, 00, 0.2);
	font-family: 'Inter','Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}