@import url('./__img/element__img.css');

@import url('./__subscribe/element__subscribe.css');

@import url('./__text/element__text.css');

@import url('./__buttonlike/element__buttonlike.css');

@import url('./__like/element__like.css');

@import url('./__buttontrash/element__buttontrash.css');

@import url('./__buttonlike/_liked/element__buttonlike_liked.css');

.element {
	width: 100%;
	max-width: 282px;
	margin: 0px;
	position: relative;
    background-color: white;
    border-radius: 10px;
    /*overflow: hidden;*/
}