.profile__name {
    color: white;
    margin: 0px;
    font-family: 'inter','Arial', sans-serif;
	font-weight: 550;
	font-size: 42px;
    line-height: 56px;
	max-width: 450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}