.popup__editform {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 330px;
    position: relative;
    top: calc(50% - 165px);
    margin: auto auto auto auto;
    background-color: white;
    border-radius: 10px;

}

@media ( max-width: 550px) {
	.popup__editform {
		width: 282px;
		height: 322px;
		top: 123px;
	}
}