.popup__inputtext-avatar{
	width: calc(100% - 72px);
	height:17px;
	margin: 8px auto 0px auto;
	padding: 5px 0px 13px 0px;
	border-width: 0px 0px 1px 0px;
	border-color: rgba(00, 00, 00, 0.2);
	font-family: 'Inter','Arial', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

.popup__inputtext-avatar:first-of-type {
	margin-top: 49px;
}