.element__button {
	width: 20px;
	height: 18px;
	margin-top: 30px;
	padding: 0px;
	border: 0px;
	background-color: white;
	transition: opacity 0.5s linear 0s;
}

.element__button:hover {
	opacity: 0.6;
	cursor: pointer;
}