.element__text {
    font-family: 'interBlack','Arial', sans-serif;
	font-weight: normal;
	font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
