.footer {
    font-family: 'interRegular','Arial', sans-serif;
	font-weight: bold;
	color: #545454;
	font-size: 18px;
    line-height: 22px;
    width: 100%;
    margin: 66px auto 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}