.profile__avatarbutton{
	width: 120px;
	height: 120px;
	margin: 0px auto;
	padding: 0px;
	border-radius: 60px;
	border: 0px;
	background-image: url('../../../images/kusto.jpg');
	background-size: cover;
	transition: opacity 0.3s linear 0s;
}
