.popup__big{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: transparent;
}
	

/*	@media (max-width: 900px) {
		.popup__big {
			
			width: calc(100% - 80px);
			height:calc(100% - 203px);
			margin: auto 40px auto 40px;
		}
	}
	
	@media (max-width: 500px) {
		.popup__big {
			
			height: initial;
			margin: auto 40px auto 40px;
		}
	}*/