.grid {
    width: 100%;
    display: grid;
    margin: 50px auto 0px auto;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-column-gap: 18px;
    grid-row-gap: 20px;
    justify-items: center;
}

@media (max-width: 400px) {
    .grid {
		width: calc( 100% - 38px);
		margin: 50px auto 0px auto;

	}
}