@import url('./_avatar/popup_avatar.css');
@import url('./_add/popup_add.css');
@import url('./_img/popup_img.css');
@import url('./_profile/popup_profile.css');
@import url('./_sure/popup_sure.css');


@import url('./__big/popup__big.css');

@import url('./__editform-avatar/poup__editform-avatar.css');
@import url('./__editform-add/popup__editform-add.css');
@import url('./__editform-profile/popup__editform-profile.css');
@import url('./__notform/popup__notform.css');

@import url('./__img/popup__img.css');

@import url('./__inputtext-avatar/popup__inputtext-avatar.css');
@import url('./__inputtext-avatarerror/popup__inputtext-avatarerror.css');

@import url('./__inputtext-add/popup__inputtext-add.css');
@import url('./__inputtext-adderror/popup__inputtext-adderror.css');

@import url('./__inputtext-profile/popup__inputtext-profile.css');
@import url('./__inputtext-profileerror/popup__inputtext-profileerror.css');

@import url('./__p/popup__p.css');

@import url('./__submit-avatar/popup__submit-avatar.css');
@import url('./__submit-add/popup__submit-add.css');
@import url('./__submit-profile/popup__submit-profile.css');
@import url('./__button-sure/popup__button-sure.css');

@import url('./__button_disabled/popup__button_disabled.css');

@import url('./__text-avatar/popup__text-avatar.css');
@import url('./__text-add/popup__text-add.css');
@import url('./__text-profile/popup__text-profile.css');
@import url('./__text-sure/popup__text-sure.css');

@import url('./__error_visible/popup__error_visible.css');

.popup {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 3;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.5s, opacity 0.5s linear;
}